<div class="center-align magicheader">
  <span class="letter" data-letter="F">F</span>
  <span class="letter" data-letter="O">O</span>
  <span class="letter" data-letter="R">R</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="C">C</span>
  <span class="letter" data-letter="A">A</span>
  <span class="letter" data-letter="S">S</span>
  <span class="letter" data-letter="T">T</span>
</div>
<div class="container green lighten-3 center-align detailcontainer">
  <h5>
    <%= forecast.location.name %>, <%= forecast.location.region%> | <%=
    forecast.location.localtime%>
  </h5>
  <div class="dcontentcontainer">
    <div class="left-align">
      <h5>
        Temp<i class="material-icons">hdr_weak</i> <%= forecast.current.temp_f
        %> &#8457; | <%= forecast.current.temp_c %> &#8451;
      </h5>
    </div>
    <div class="left-align">
      <h5>
        <%= forecast.current.condition.text %>
        <img
          src="<%= forecast.current.condition.icon %>"
          width="50"
          height="auto"
        />
      </h5>
    </div>
    <div class="row">
      <div class="col s6">
        <h5>Astronomy<i class="material-icons">hdr_strong</i></h5>
        <p>Sunrise @<%= forecast.forecast.forecastday[0].astro.sunrise %></p>
        <p>Sunset @<%= forecast.forecast.forecastday[0].astro.sunset %></p>
        <p>Moonrise @<%= forecast.forecast.forecastday[0].astro.moonrise %></p>
        <p>Moonset @<%= forecast.forecast.forecastday[0].astro.moonset %></p>
      </div>
      <!-- Leaflet MAP -->
      <div class="col s6"><div id="mapid"></div></div>
      <!-- MAP END -->
    </div>
  </div>
  <div class="center-align">
    <% if (forecast.alert.headline) { %>
    <h5><i class="material-icons">notifications_active</i>Alerts</h5>
    <p><%= forecast.alert.headline %></p>
    <br />
    <h5>Areas effected:</h5>
    <p><%= forecast.alert.areas %></p>
    <br />
    <h5>Alert Effective and Expiry Dates:</h5>
    <p>
      Effective: <%= forecast.alert.effective %> Expires: <%=
      forecast.alert.expires %>
    </p>
    <br />
    <h5>Alert Description:</h5>
    <p><%= forecast.alert.desc %></p>
    <br />
    <h5>Alert Instruction:</h5>
    <p><%= forecast.alert.instruction %></p>
    <br />
    <% } else { %>
    <p>No Alerts to display.</p>
    <% } %>
    <form method="POST" action="/locations">
      <input
        type="hidden"
        name="title"
        id="title"
        value="<%= forecast.location.name %>"
      />
      <input
        type="hidden"
        name="lat"
        id="lat"
        value="<%= forecast.location.lat %>"
      />
      <input
        type="hidden"
        name="long"
        id="long"
        value="<%= forecast.location.lon %>"
      />
      <div class="right-align">
        <button
          class="btn waves-effect waves-light green dbuttoncontainer"
          type="submit"
        >
          <i class="material-icons right">save</i>Save to Profile
        </button>
      </div>
    </form>
  </div>
</div>

<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""
></script>

<script>
    var lat = <%- lat %>
    var lon = <%- lon %>

    var mymap = L.map("mapid").setView([lat, lon], 13);
    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 19,
      // tileSize: 512,
      // zoomOffset: -1,
    }).addTo(mymap);

    // show the scale bar on the lower left corner
    L.control.scale().addTo(mymap);

    L.marker([lat, lon]).addTo(mymap)
      .bindPopup('This is where you\'ve searched.')
      .openPopup();

      var popup = L.popup();

  function onMapClick(e) {
      popup
          .setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng.toString())
          .openOn(mymap);
  }

  mymap.on('click', onMapClick);
</script>
