<div class="detailscontainer">
  <div class="container green lighten-3 center-align">
    <h5>
      Forecast for: <%= forecast.location.name %>, <%=
      forecast.location.region%> | <%= forecast.location.localtime%>
    </h5>
    <div class="left-align">
      <h5>
        Temp<i class="material-icons">hdr_weak</i> <%= forecast.current.temp_f
        %> &#8457; | <%= forecast.current.temp_c %> &#8451;
      </h5>
    </div>
    <div class="left-align">
      <h5>
        <%= forecast.current.condition.text %>
        <img
          src="<%= forecast.current.condition.icon %>"
          width="50"
          height="auto"
        />
      </h5>
    </div>
    <!-- Leaflet MAP -->
    <div class="row">
      <div class="col s6">
        <h5>Astronomy<i class="material-icons">hdr_strong</i></h5>
        <p>Sunrise @<%= forecast.forecast.forecastday[0].astro.sunrise %></p>
        <p>Sunset @<%= forecast.forecast.forecastday[0].astro.sunset %></p>
        <p>Moonrise @<%= forecast.forecast.forecastday[0].astro.moonrise %></p>
        <p>Moonset @<%= forecast.forecast.forecastday[0].astro.moonset %></p>
      </div>
      <div class="col s6"><div id="mapid"></div></div>
    </div>
    <!-- MAP END -->
    <div class="center-align">
      <% if (forecast.alert.headline) { %>
      <h5><i class="material-icons">notifications_active</i>Alerts</h5>
      <p><%= forecast.alert.headline %></p>
      <br />
      <h5>Areas effected:</h5>
      <p><%= forecast.alert.areas %></p>
      <br />
      <h5>Alert Effective and Expiry Dates:</h5>
      <p>
        Effective: <%= forecast.alert.effective %> Expires: <%=
        forecast.alert.expires %>
      </p>
      <br />
      <h5>Alert Description:</h5>
      <p><%= forecast.alert.desc %></p>
      <br />
      <h5>Alert Instruction:</h5>
      <p><%= forecast.alert.instruction %></p>
      <br />
      <% } else { %>
      <p>No Alerts to display.</p>
      <% } %>
      <form method="POST" action="/locations">
        <input
          type="hidden"
          name="title"
          id="title"
          value="<%= forecast.location.name %>"
        />
        <input
          type="hidden"
          name="lat"
          id="lat"
          value="<%= forecast.location.lat %>"
        />
        <input
          type="hidden"
          name="long"
          id="long"
          value="<%= forecast.location.lon %>"
        />
        <div class="right-align">
          <button class="btn waves-effect waves-light green" type="submit">
            <i class="material-icons right">save</i>Save to Profile
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""
></script>
<script
  type="text/javascript"
  src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"
></script>

<script>
  var lat = <%- lat %>
  var lon = <%- lon %>

  var mymap = L.map("mapid").setView([lat, lon], 13);
  L.tileLayer("http://c.tile.stamen.com/terrain/{z}/{x}/{y}.jpg", {
    attribution:
      'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
    maxZoom: 18,
    tileSize: 512,
    zoomOffset: -1,
  }).addTo(mymap);
</script>
