<div class="center-align magicheader">
  <span class="letter" data-letter="R">R</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="S">S</span>
  <span class="letter" data-letter="U">U</span>
  <span class="letter" data-letter="L">L</span>
  <span class="letter" data-letter="T">T</span>
  <span class="letter" data-letter="S">S</span>
</div>
<% locations.forEach(location => { %>
<div class="container green lighten-3 center-align resultcontainer">
  <h4><%= location.name %></h4>
  <div class="left-align contentcontainer">
    <h5>Region: <%= location.region %></h5>
    <h5>Country: <%= location.country %></h5>
    <h5>latitude: <%= location.lat %></h5>
    <h5>longitude: <%= location.lon %></h5>
  </div>
  <form method="GET" action="locations/detail">
    <input type="hidden" name="lat" id="lat" value="<%= location.lat %>" />
    <input type="hidden" name="lon" id="lon" value="<%= location.lon %>" />
    <div class="right-align">
      <button
        class="btn waves-effect waves-light green buttoncontainer"
        type="submit"
      >
        <i class="material-icons right">find_in_page</i>Details
      </button>
    </div>
  </form>
</div>

<% }) %>
