<h1>Welcome, <%= currentUser.name  %> </h1>
<div class="container">
  <% currentUser.myLocations.forEach(location => { %>
    <h4><%= location.title %></h4>
    <form method="GET" action="/locations/detail">
    <input type="hidden" name="lat" id="lat" value="<%= location.lat %>">
    <input type="hidden" name="lon" id="lon" value="<%= location.long %>">
    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons right">find_in_page</i>Details</button>
    </form>
    <br>
    <form method="GET" action="/locations/edit/<%= location.id %>" >
    <input type="hidden" name="title" id="title" value="<%= location.title %>">
    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons right">edit_location</i>Edit</button>
    </form>
    <br>
    <form method="POST" action="/locations/<%= location.id %>?_method=DELETE" >
    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons right">delete_sweep</i>Delete</button>
    </form>
  <% }) %>
</div>